---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 15px 15px;
}

.featurette-heading {
  color: #404040;
}

.about-content {
  color: #404040;
  font-size: 18px;
}
